<a href="https://colab.research.google.com/github/Soumya2411/DSA-codes/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
class car:
  def __init__(self):
    self.name =input("Enter car name")

class driver:
  def __init__(self):
    self.name =input("Enter driver name")



  # var=input("Enter a diver name")
  # print("This is a driver class",var)

c1=car()
d1=driver()
c2=car()
d2=driver()
c3=car()
d3=driver()




print(c1.name,"drives",d1.name,"car")
print(c2.name,"drives",d2.name,"car")
print(c3.name,"drives",d3.name,"car")

Enter car name verna
Enter driver name szuki
Enter car name audi
Enter driver name soumya
Enter car name me
Enter driver name hello
 verna drives  szuki car
 audi drives  soumya car
 me drives  hello car